html{
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
    font-size: 62.5%;
    font-family:'Noto Serif', serif;
    background-color: #000;
    overflow-x: hidden;
    color: rgb(250, 250, 250);
}



/*-- Nav--*/

.header{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	background: linear-gradient(to left, rgb(42, 218, 135), #000);
	font-size: 2.5em;
	position: absolute;
	z-index: 10;
	position: fixed;
}

.navbar{
	--bs-navbar-toggler-icon-bg: url("file:///D:/Debora/Escritorio/github-y-bootstrap/imagenes/iconos/descarga.svg");
}


.navbar-brand{
	display: flex;
	width: 50%;
}

.logo{
	width: 15%;
}

.logo:hover{
	transform: rotateY(180deg);
	width: 20%;
}

.header .nav-link{
	color: rgb(250, 150, 0);
	font-family: 'noto serif', serif;
}


.header .nav-item{
	margin-left: 2%;
	margin-right: 4% 
}




/*-- banner --*/


main{
	background: linear-gradient( to left, rgb(42, 218, 135), #000);
}

.banner{
display: flex;
padding-top: 10%;
padding-bottom: 5%;
justify-content: center;
align-content: center;
}

.banner h3{
	font-family: 'noto serif', serif;
    font-size: 8em;
    color: rgb(42, 218, 135);
	}


.banner h3:hover{
	cursor:cell;
	transform: skewX(10deg);
}



/*----- main-cards -------*/
section .card img:hover{
	transform: rotateX(360deg);
	transition: 3s;

}






/*-- Footer --*/

footer{
	background: linear-gradient(to left, rgb(42, 218, 135), #000);
	color: rgb(250, 150, 0);
}

.footer__diseño{
    font-size: 2em;
	display: inline;
	position: relative;
	width: 100%;
	}

.footer__diseño div h3{
	margin-top: 8%;
	padding-bottom: 2%;
	width: 32%;
	display: inline-block;
	position: relative;
	border-style: solid;
	border-width: 0px 3px 0px 0px;
	border-color: rgb(250, 150, 0);
	text-align: center;
	}

.footer__diseño span{
	width: 32%;
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
	border-color: rgb(255, 255, 255);
	margin-bottom: 3%;
	}

.footer__diseño span p{
	color: rgb(250, 150, 0)
	}

.footer__diseño span a{
	display: block;
	position: relative;
	text-align: center;
	color: rgb(250, 150, 0);
	text-decoration: none;
	}



.footer__diseño span a:hover{
	color: rgb(0, 0, 0);
	font-size: 1.2em;
	transform: translateX(20%);
	transition: 0.8s;
	}

.redes-iconos{
    width: 50px;
    margin-bottom: 4%;
    height: 50px;
}

.redes-iconos:hover{
	cursor:-webkit-grab;
	transform: translateX(20%);
}




/*----Suculentas.html----*/

.main{
	background-color: black;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-content: space-around;
	padding-top: 12%;
	
}

.main__section{
	display: flex;
	width: 100%;
	overflow-x: hidden;
	padding-bottom: 3%;
}

.main__section div{
	display: flex;
	width: 30%;
	margin-left: 2.5%;
	justify-content: space-evenly;
	
}

.sucu-img{
	display: inline;
	width: 80%;
	object-fit: fill;
}


.planta-a:hover{
	transform: skewX(-5deg);
}


.planta-b:hover{
	transform: rotateY(-180deg);
}


.planta-c:hover{
	transform: skewX(5deg);
}

.planta-e:hover{
	transform: rotateY(-180deg);
	transition:2s;
}


.planta-f:hover{
transform: rotateY(180deg);
transition: 2s;
}


.planta-g:hover{
	transform: rotateY(-180deg)

}