html{
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
    font-size: 62.5%;
    font-family:'Noto Serif', serif;
    overflow-x: hidden;
    color: rgb(250, 250, 250);
}


body{
	background: linear-gradient(to right, rgb(81, 209, 161), rgb(98, 14, 231));
}


/*-----Index---------*/


/*-- Nav--*/

.header{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	background: linear-gradient(to right, rgba(81, 209, 161, 0.0 ), rgba(21, 136, 93, 0.0));
	font-size: 3em;
	position: absolute;
	z-index: 10;
	position: fixed;
}

.navbar{
	--bs-navbar-toggler-icon-bg: url("file:///D:/Debora/Escritorio/github-y-bootstrap/imagenes/iconos/hamburger.svg");
	width: 100%;
}


.navbar-brand{
	display: flex;
	width: 40%;
	margin-left: 5%;
}

.logo{
	width: 15%;
}

.navbar-nav{
	display: flex;
	width: 100%;
	justify-content: center;
}

.header .nav-link{
	color: rgb(238, 123, 34);
	font-family: 'noto serif', serif;
}

.header .nav-link:hover{
	font-size: 1,2em;
	color: rgb(255, 255, 255)
	;
}

.header .nav-item{
padding-left: 2%;
padding-right: 2%;
}



/*-- banner --*/


.slide{
	opacity: 0.8;
}



/*----- main-cards -------*/

.section-card{
	background: linear-gradient(to right, rgba(150, 16, 231, 0.8), rgb(98, 14, 231));
	margin-bottom: 0;
	justify-content: center;
}

.card{
	background: none;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	border: none;
}

.card-img-top{
	width: 80%;
	margin-left: 10%;
	border-radius: 5%;
}

.card-title{
	font-family: 'noto serif', serif;
	font-size: 2.5em;
	color: rgb(238, 123, 34);
}


.card-text{
	font-family: 'noto serif', serif;
	font-size: 2em;
	color: rgb(238, 123, 34);
}

.card-text:hover{
	color: #fff;
}





/*-- Footer --*/

footer{
	background: linear-gradient(to right, rgba(150, 16, 231, 0.8), rgb(98, 14, 231));
	color: rgb(238, 123, 34);
	margin-top: 0;
}

footer .links{
		font-family: 'noto serif', serif;
		font-size: 2.5em;
		text-decoration: none;
		color: rgb(238, 123, 34);
	}

.links:hover{
	color: #fff;
}

.text-footer{
	font-family:  'noto serif', serif;
	text-decoration: none;
	color: rgb(238, 123, 34);
}

.text-footer:hover{
	color: #fff;
}






/*----Suculentas.html----*/




/*----Nav---*/


.navotras{
	background-image: url("file:///D:/Debora/Escritorio/github-y-bootstrap/imagenes/slide-back.webp");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
	filter: none
}

.header .nav-link-otras{
	color: #fff;
	font-family: 'noto serif', serif;
	text-decoration: none;
}

.header .nav-link-otras:hover{
	font-size: 1,2em;
	color: rgb(98, 14, 231)
	;
}






/*------ Main ------*/

.main{
	width: 100%;
	padding-top: 12%;
	background: linear-gradient(to right, rgba(60, 169, 135, 0.9), rgba(65, 159, 125, 0.8));
}

.main__section{
	justify-content:space-evenly;
	width: 100%;
	overflow-x: hidden;
	padding-bottom: 3%;
}


.card-text-sucu{
	font-family:  'noto serif', serif;
	font-size: 2em;
	text-decoration: none;
	color: #fff;
	}







/*------Footer-----*/
.links-sucu{
	font-family: 'noto serif', serif;
	font-size: 2.5em;
	text-decoration: none;
	color: #fff;
}


.links-sucu:hover{
	color:rgb(98, 14, 231);
}

.slogan-footer{
	color: rgb(98, 14, 231);
	font-size: 1em;
}

.text-footer-sucu{
	font-family:  'noto serif', serif;
	text-decoration: none;
	color: rgb(98, 14, 231);

}

